::ng-deep{
    p-button{
        border: unset;
    }
    button{
        background: linear-gradient(45deg, var(--primary), var(--accent));
        border: unset;
        box-shadow: unset;
    }

    .p-button-secondary{
        background: unset
    }

}