::ng-deep{
    p-button{
        border: unset;
    }
    button:not(p-toast button){
        @apply bg-[var(--accent)];
        border: unset;
        box-shadow: unset;
    }

    .p-button-secondary{
        background: unset
    }

}