<div class="wrapper">
    <p-button class="side-bar-toggle" (onClick)="this.showCandidatesBarOnClick()">
        <ng-icon name="lucideMenu"></ng-icon>
    </p-button>
    <div class="messages" (scroll)="this.onScroll($event)" (wheel)="this.onWheel($event)">
        @let prompts = this.prompts$ | async;
        @if (this.showClearMessages() && prompts?.length) {
            <p-button class="self-center transition-opacity" [rounded]="true" (onClick)="this.clearChat()">
                <ng-icon class="mr-1" name="lucideEraser"></ng-icon> <span class="text-[var(--text)]">Borrar conversación</span>
            </p-button>
        }
        @for (chat of prompts; track $index) {
        <div class="receive-msg" (click)="this.selectMessage(chat.output.fragment_distance)">
            <p>{{chat.output.text}}</p>
            @if (chat.output.audio_url) {
            <audio controls [src]="chat.output.audio_url"></audio>
            }
        </div>
        <div class="send-msg">
            <p>{{chat.input.message}}</p>
        </div>
        }@empty {
            <div class="empty">
                <h1>Envía un mensaje para empezar</h1>
            </div>
        }
    </div>

    <div class="input">
        <form [formGroup]="this.promptForm" (ngSubmit)="this.sendPrompt()">
            <p-button title="Generar audio" class="audio-button" [severity]="this.audioStatus" (onClick)="this.setAudioFlag()">
                <ng-icon name="lucideAudioLines"></ng-icon>
            </p-button>

            <div class="prompt">
                <textarea pAutoFocus [autofocus]="true" pInputTextarea [autoResize]="true" [rows]="1" placeholder="Enviar mensaje"
                    formControlName="message" (keypress)="checkEnter($event)"></textarea>
            </div>


            <p-button type="submit" [disabled]="!this.promptForm.valid" [loading]="this.loading()">
                @if (!loading()) {
                    <ng-icon name="lucideSendHorizontal"></ng-icon>
                }
            </p-button>
        </form>
    </div>

</div>