<div class="wrapper">
    <div class="messages">
        @for (chat of this.prompts; track $index) {
            <div class="receive-msg" (click)="this.selectMessage(chat.output.candidates)">
                <p>{{chat.output.message}}</p>
                @if (chat.output.audio) {
                    <audio controls [src]="chat.output.audio"></audio>
                }
            </div>
            <div class="send-msg">
                <p>{{chat.input.message}}</p>
            </div>
        }
    </div>

    <div class="input">
        <form [formGroup]="this.promptForm" (ngSubmit)="this.sendPrompt()">
            <p-button [severity]="this.audioStatus" (onClick)="this.setAudioFlag()">
                <ng-icon name="lucideAudioLines"></ng-icon>
            </p-button>

            <input type="text" pInputText placeholder="Enviar mensaje" formControlName="message">

            <p-button type="submit" [disabled]="!this.promptForm.valid" [loading]="this.loading()">
                <ng-icon name="lucideSendHorizontal"></ng-icon>
            </p-button>
        </form>
    </div>
    
</div>