<div class="wrapper">
    <p-button (onClick)="closeSideBarEmit()">
        <ng-icon name="lucideCircleX"></ng-icon>
    </p-button>
    @for (candidate of candidates(); track $index) {
        <div class="candidate" (click)="openLink(candidate[4])">
            <div class="title">
                {{candidate[1]}}
            </div>
            <p>{{candidate[0]}}</p>
        </div>
    }@empty {
        <div class="empty">
            <h1>Selecciona un mensaje para ver las fuentes</h1>
        </div>
    }
</div>