<div class="wrapper">
    <p-button (onClick)="closeSideBarEmit()">
        <ng-icon name="lucideCircleX"></ng-icon>
    </p-button>
    @if (this.candidates() !== "None") {
        @for (candidate of candidates(); track $index) {
            <div class="candidate" (click)="openLink(candidate[4])">
                <div class="title">
                    {{candidate[1] | transformBookName}}
                </div>
                <p>{{candidate[0]}}</p>
                <h2 class="self-center">Pág: {{candidate[2]}}</h2>
            </div>
        }@empty {
            <div class="empty">
                <h1>Selecciona un mensaje para ver las fuentes</h1>
            </div>
        }
    }@else {
        <div class="empty">
            <h1>El mensaje no tiene fragmentos</h1>
        </div>
    }
</div>