@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}


//https://www.realtimecolors.com/?colors=060d18-eff4fb-0c2540-a58940-d8cc74&fonts=Inter-Inter

:root {
    --text: #060d18;
    --background: #eff4fb;
    --primary: #0c2540;
    --secondary: #a58940;
    --accent: #d8cc74;
}

body.dark {
    --text: #dfe5ec;
    --background: #0a0c10;
    --primary: #0c2540;
    --secondary: #a58940;
    --accent: #a7a572;
}

:root {
    --text-50: #ebf0fa;
    --text-100: #d6e2f5;
    --text-200: #adc5eb;
    --text-300: #85a8e0;
    --text-400: #5c8bd6;
    --text-500: #336ecc;
    --text-600: #2958a3;
    --text-700: #1f427a;
    --text-800: #142c52;
    --text-900: #0a1629;
    --text-950: #050b14;

    --background-50: #ebf1fa;
    --background-100: #d6e3f5;
    --background-200: #adc7eb;
    --background-300: #85abe0;
    --background-400: #5c8fd6;
    --background-500: #3373cc;
    --background-600: #295ca3;
    --background-700: #1f457a;
    --background-800: #142e52;
    --background-900: #0a1729;
    --background-950: #050b14;

    --primary-50: #eaf2fb;
    --primary-100: #d4e5f7;
    --primary-200: #a9cbef;
    --primary-300: #7eb1e7;
    --primary-400: #5497de;
    --primary-500: #297dd6;
    --primary-600: #2164ab;
    --primary-700: #184b81;
    --primary-800: #103256;
    --primary-900: #08192b;
    --primary-950: #040c15;

    --secondary-50: #f8f5ed;
    --secondary-100: #f1eada;
    --secondary-200: #e2d6b6;
    --secondary-300: #d4c191;
    --secondary-400: #c6ac6c;
    --secondary-500: #b89847;
    --secondary-600: #937939;
    --secondary-700: #6e5b2b;
    --secondary-800: #493d1d;
    --secondary-900: #251e0e;
    --secondary-950: #120f07;

    --accent-50: #f9f8eb;
    --accent-100: #f4f0d7;
    --accent-200: #e9e2af;
    --accent-300: #ddd388;
    --accent-400: #d2c560;
    --accent-500: #c7b638;
    --accent-600: #9f922d;
    --accent-700: #776d22;
    --accent-800: #504916;
    --accent-900: #28240b;
    --accent-950: #141206;

}

body.dark {
    --text-50: #0a0d10;
    --text-100: #131920;
    --text-200: #263240;
    --text-300: #394b60;
    --text-400: #4d6480;
    --text-500: #607d9f;
    --text-600: #8097b3;
    --text-700: #9fb1c6;
    --text-800: #bfcbd9;
    --text-900: #dfe5ec;
    --text-950: #eff2f5;

    --background-50: #0a0c10;
    --background-100: #14181f;
    --background-200: #272f3f;
    --background-300: #3b475e;
    --background-400: #4f5e7d;
    --background-500: #62769d;
    --background-600: #8291b0;
    --background-700: #a1adc4;
    --background-800: #c0c8d8;
    --background-900: #e0e4eb;
    --background-950: #eff1f5;

    --primary-50: #040c15;
    --primary-100: #08192b;
    --primary-200: #103256;
    --primary-300: #184b81;
    --primary-400: #2164ab;
    --primary-500: #297dd6;
    --primary-600: #5497de;
    --primary-700: #7eb1e7;
    --primary-800: #a9cbef;
    --primary-900: #d4e5f7;
    --primary-950: #eaf2fb;

    --secondary-50: #120f07;
    --secondary-100: #251e0e;
    --secondary-200: #493d1d;
    --secondary-300: #6e5b2b;
    --secondary-400: #937939;
    --secondary-500: #b89847;
    --secondary-600: #c6ac6c;
    --secondary-700: #d4c191;
    --secondary-800: #e2d6b6;
    --secondary-900: #f1eada;
    --secondary-950: #f8f5ed;

    --accent-50: #100f0a;
    --accent-100: #1f1f14;
    --accent-200: #3f3e27;
    --accent-300: #5e5d3b;
    --accent-400: #7d7c4f;
    --accent-500: #9d9b62;
    --accent-600: #b0af82;
    --accent-700: #c4c3a1;
    --accent-800: #d8d7c0;
    --accent-900: #ebebe0;
    --accent-950: #f5f5ef;
}