.sidebar{
    @apply w-screen md:h-14 h-20 flex items-center justify-center px-5 gap-2 text-[var(--text)];

    h1{
        @apply font-extrabold text-2xl mx-auto text-center;
        background: linear-gradient(120deg, var(--primary), var(--secondary));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .icon-holder{
        @apply flex mt-auto items-center justify-center w-fit h-fit bg-[var(--primary)] p-2 rounded-md mb-auto
            text-[var(--text-100)]
        ;
    }

    .theme-switcher{
        @apply cursor-pointer hover:text-[var(--text-300)];
    }
}